# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Local configuration
local.properties
*.local

# Android
*.apk
*.ap_
*.aab

# Kotlin
*.class

# Testing
.coverage/

# Misc
*.log
*.tmp
*.temp
*.keystore
*.jks

# iOS
iosApp/build/
*.xcuserdata/
*.mobileprovision
*.p12
*.pem
*.cer
DerivedData/
*.xcuserstate
xcuserdata/
